body{
    background-color: rgb(210, 162, 255);
    text-align: center;
}
#gui{
    margin:auto;
    text-align: center;
    background-color: aliceblue;
    padding:5px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: gray;
    display:inline-block;
}
.instructionLabel{
    display:inline-block;
    background-color: gold;
    text-decoration: none;
    color: black;
    border-style: solid;
    padding:2px;
    border-color: rgb(185, 121, 0);
}
#display{
    margin: auto;
    width:50%;
    border-style: solid;
    border-color: blueviolet;
    text-align: center; 
    background-color: black; 
    color: white; 
    font-family: "Courier New", Courier, monospace;
}
#console{
    text-align: center; 
    background-color: black; 
    color: white; 
    font-family: "Courier New", Courier, monospace;
}
#battleView{
    text-align: center; 
    background-color: black; 
    color: white; 
    font-family: "Courier New", Courier, monospace;
}